<div class="row tabs-sec main-body-mar hidden-xs">
          <div class="col-sm-12 col-xs-12">
            <div class="feature clearfix">

      <!-- <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0">
        <li class="mar-left-30 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul> -->
            <!-- <div class="feature"> -->
              <p class="font-16 slider-text-md col-sm-12 text-uppercase deals"><span class="font-bold">Stock up on all your favorite products</span>&nbsp;&nbsp;<span class="pull-right">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p>

              <!-- <p class="font-13 text-uppercase text-center deals hidden-lg hidden-md hidden-sm col-xs-12"><span class="font-bold">All your favorite products!</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p> -->


            
             <!--  <p class="font-18 text-uppercase deals"><span class="font-bold">amazing discounts and great margins</span>&nbsp;<span class="text-lowercase">on your most trusted brands and licenses.</p> -->
            <!-- </div> -->
              <p class="font-16 text-uppercase text-center deals hidden-lg hidden-md hidden-sm hidden-xs">

                <span class="font-bold">All of your favorite products</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase pink"> free!</span></span></span>
                
              </p>

            </div>
          </div>
        </div>


            <!-- <img src="https://res.cloudinary.com/mckshreder/image/upload/c_crop,h_50,q_100,w_880/v1445749925/inWholsalers/in-wholesaler-slider-header1.png" class="img-responsive mar-top-0"> -->


<!-- the start of the cell carousel -->
      <div data-example-id="simple-carousel" class="below-headeer hidden-lg hidden-md col-sm-12 col-xs-12 pad-0">


      


           
         




         <!-- <div class="font-13 text-uppercase text-center">
            
            <ul class="list-unstyled list-inline mar-0 pull-left col-xs-12">
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="mar-left-0 pad-right-0 col-xs-4"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive pad-top-0"></li>
            </ul>

          </div> -->
       
      </div>



 
       <!--  <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              
              <p class="font-18 text-uppercase deals"><span class="font-bold">inWholesalers</span>&nbsp;<span class="pull-right">O<span class="text-lowercase">nline shopping made easy</span></span></p>

      <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0 mar-top-20">
        <li class="pad-left-0 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="https://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul>
            </div>
          </div>
        </div>

 -->

     

<!-- <br> -->