<!DOCTYPE html>

<div class="container mega-main clearfix">
  <div class="row">
    <div class="col-md-9 col-md-push-3 col-sm-push-0 col-sm-12 col-xs-12">


      <div class="row tabs-sec main-body-mar hidden-xs">
          <div class="col-sm-12 col-xs-12">
            <div class="feature clearfix">


              <!-- <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">Sign up  with your email to get</span> updates!</p> -->
              <!-- <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Home<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul> -->
              <!--  <ul class="list-unstyled list-inline pull-right">
                
                <div class="input-group search">
                  <input type="text" placeholder="SEARCH OUR INVENTORY" class="form-control">
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default item-tag">Search</button>
                  </span> 
                </div>
              </ul> -->

      <!-- <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0">
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul> -->
            <!-- <div class="feature"> -->
              <p class="font-16 slider-text-md col-sm-12 text-uppercase deals"><span class="font-bold">Stock up on all your favorite products</span>&nbsp;&nbsp;<span class="pull-right">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p>

              <!-- <p class="font-13 text-uppercase text-center deals hidden-lg hidden-md hidden-sm col-xs-12"><span class="font-bold">All your favorite products!</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p> -->


            
             <!--  <p class="font-18 text-uppercase deals"><span class="font-bold">amazing discounts and great margins</span>&nbsp;<span class="text-lowercase">on your most trusted brands and licenses.</p> -->
            <!-- </div> -->
        <p class="font-16 text-uppercase text-center deals hidden-lg hidden-md hidden-sm hidden-xs">

          <span class="font-bold">All of your favorite products</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase pink"> free!</span></span></span>
          
        </p>

            </div>
          </div>
        </div>

         
     


      <div data-example-id="simple-carousel" class=" pad-0 ">
      <!-- <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_50,q_100,w_880/v1445749925/inWholsalers/in-wholesaler-slider-header1.png" class="img-responsive mar-top-0"> -->


        <!-- cellphone view  slider header views below in p tag -->
        <p class="font-14 text-uppercase text-center deals hidden-lg hidden-md hidden-sm col-xs-12">

          <span class="font-bold">All of your favorite products</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase pink"> free!</span></span></span>
          
        </p>


        <!-- this is the largest carosuel -->
        <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
          
          <ol class="carousel-indicators hidden-xs">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
            <li data-slide-to="2" data-target="#carousel-example-generic"></li>
            <!-- <li data-slide-to="3" data-target="#carousel-example-generic"></li> -->
          </ol>
          
          <div role="listbox" class="carousel-inner">
            <div class="item active"> <a href="housewares/cookware"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"></a> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446232153/inWholsalers/in-wholesale-slider-1-4.png" alt="" class="img-responsive"> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446242490/inWholsalers/in-whole-sale-slider-3.png" alt="" class="img-responsive"> </div>
            <!-- <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_pad,g_center,h_487,w_880/v1446023330/inWholsalers/dove1232131.jpg" alt="" class="img-responsive"> </div> -->
          </div>

        </div>

        <!-- this is the arrows on the slider for navigation -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>




      </div>


      <div data-example-id="simple-carousel" class="hidden-sm hidden-xs">
       <p class="font-16 slider-text-md text-uppercase deals"><span class="font-bold">amazing discounts and great margins storewide</span>&nbsp;<a class="pull-right pink">S<span class="text-lowercase">hop by brand and license</span></a></p>
        


        <div data-ride="carousel" class="carousel slide mar-left-5" id="carousel-example-generic">
          <div role="listbox" class="carousel-inner">
            <div class="item active"> <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446619980/lic_final_slide_3_tw5yae.png" alt="" class="img-responsive mar-0"> </div>
            <div class="item"> <img src="https://res.cloudinary.com/mckshreder/image/upload/v1446615748/lic_final_slide_2_1_dtinna.png" alt="" class="img-responsive mar-0"> </div>
            <div class="item"> <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446615337/lic_final_slide_1_1_yc5k5z.png" alt="" class="img-responsive mar-0"> </div>
          </div>
        </div>

        
      </div>




<!-- the start of the cell carousel -->
      <div data-example-id="simple-carousel" class="below-headeer hidden-lg hidden-md col-sm-12 col-xs-12 pad-0">


      
         <p class="font-14 text-uppercase deals text-center"><span class="font-bold">amazing discounts storewide</span>
         <br>
            <a class="text-center pink">S<span class="text-lowercase">hop by brand and license</span></a></p>

            <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
              <div role="listbox" class="carousel-inner">
                <div class="item active"> <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446619980/lic_final_slide_3_tw5yae.png" alt="" class="img-responsive mar-0"> </div>
                <div class="item"> <img src="https://res.cloudinary.com/mckshreder/image/upload/v1446615748/lic_final_slide_2_1_dtinna.png" alt="" class="img-responsive mar-0"> </div>
                <div class="item"> <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446615337/lic_final_slide_1_1_yc5k5z.png" alt="" class="img-responsive mar-0"> </div>
                <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446626560/lic_final_slide_4_k7bcei.png" alt="" class="img-responsive mar-0"> </div>
              </div>
            </div>
         </p>

         




         <!-- <div class="font-13 text-uppercase text-center">
            
            <ul class="list-unstyled list-inline mar-0 pull-left col-xs-12">
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="mar-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive pad-top-0"></li>
            </ul>

          </div> -->
          <br>
      </div>



 
       <!--  <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              
              <p class="font-18 text-uppercase deals"><span class="font-bold">inWholesalers</span>&nbsp;<span class="pull-right">O<span class="text-lowercase">nline shopping made easy</span></span></p>

      <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0 mar-top-20">
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul>
            </div>
          </div>
        </div>

 -->

     

<!-- <br> -->

    </div>
      <div class=" col-md-3 col-sm-4 col-pull-md-8 col-sm-pull-9 hidden-sm hidden-xs">
      <%= render "partials/side_nav_index"%>
      </div>

  </div>



</div>
<div class="container hidden-md hidden-lg hidden-sm hidden-xs">
<div class="clearfix"></div>
  <div class="row home-1" style="">
    <div class="col-md-6 "> <img style="height:332px;" class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_1080,q_100,w_1920/v1446029065/inWholsalers/article.jpg"></div>
    <div class="col-md-3 ">
      <div class="row">
        <ul class="list-unstyled man-li pad-0">
          <li><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1446027342/inWholsalers/Trusted_Everywhere_Logo_with_Battery_Hi-res_0.jpg"></li>
          <li><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1446027342/inWholsalers/Trusted_Everywhere_Logo_with_Battery_Hi-res_0.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 last-item">
      <div class="row"> <img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_344,q_100,w_280/v1446026205/inWholsalers/pedigree_1396684132.jpg"></div>
    </div>
  </div>
  </div>


<div class="clearfix"></div>


      

<div class="container">
  <div class="timer-sec">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <!-- <ul class="list-unstyled images-3 hidden-sm hidden-xs">
          <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li>
          <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
        </ul> -->
          <div class="row">
            <div class="hidden-sm col-xs-12">
              <div class="feature">
                <p class="font-18 text-uppercase deals"><span class="font-bold">Super</span> deals</p>
              </div>
            </div>
          </div>
          <div class="pro-item hidden-sm">
           <!--  <div class="counter-timer">
              <ul class="list-unstyled">
                <li>
                  <div id="daysBox" class="font-bold font-16">15</div>
                  Days </li>
                <li>
                  <div id="hoursBox" class="font-bold font-16">8</div>
                  Hours </li>
                <li>
                  <div id="minsBox" class="font-bold font-16">0</div>
                  Minutes </li>
                <li>
                  <div id="secsBox" class="font-bold font-16">35</div>
                  Seconds </li>
              </ul>
            </div> -->
            <div class=""> <img src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/98458_M.jpg" alt="" class="img-responsive" ><br>
              <br>
              <p class="font-15">Solo Bag In Natural</p>
              <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="feature">
                    <p class="font-18 text-uppercase deals"><span class="font-bold">Recent</span> news</p>
                  </div>
                </div>
              </div>
              <div class="pro-item post">
                <div class="">
                  <p class="text-uppercase font-bold">The Article #1</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                  <br>
                  <div class="line"></div>
                  <p class="text-uppercase font-bold">The Article #2</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                  <br>
                  <div class="line"></div>
                  <p class="text-uppercase font-bold">The Article #3</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row hidden-sm hidden-xs">
            <br>
            <div class="col-md-12 last-item">
              <img class="img-responsive" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_335,q_100,w_280/v1445348839/517218NggML_bl9kz7.jpg">
            </div>
            <div class="col-md-12 last-item">
              <br>
              <img class="img-responsive" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1445573939/inWholsalers/Wilson-Baseball-Dept-Pic.jpg"></div>
          </div>

      </div>
      


      <div class="col-md-9 col-sm-12">
       <div class="row">
         <div class="col-md-5 col-sm-12">
            <!-- <p class="font-15 font-bold text-uppercase">newsleeter</p> -->
            <ul class="list-unstyled">
              <li><p class="font-10 text-uppercase deals pad-top-0"><span class="font-bold">get the most out of inWholesalers.</span>&nbsp;<br><span class="text-lowercase">be the first to know about new arrivals,</span>&nbsp;<a class="pull-left pink"><span class="text-lowercase">exclusive offers and promotions,</span></a></p></li>


            </ul>
            <br>
            
          </div>
          <div class="col-md-7 col-sm-12">
            
            <!-- <br> -->
            <div class="input-group search">
              <input type="text" placeholder="Sign up now via email" class="form-control pink">
              <span class="input-group-btn">
              <button type="button" class="btn btn-default pink">Sign up!</button>
              </span> </div>
          </div>
            <!-- /input-group --> 

        </div>
          

        <div class="row">
          <div class="col-xs-12">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">TOP</span> sellers</p>
              <ul role="tablist" class="tab-links pull-right list-inline" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Home<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile" aria-expanded="false">Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="kidss" data-toggle="tab" id="kidss-tab" role="tab" href="#kidss" aria-expanded="false"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="access" data-toggle="tab" id="access-tab" role="tab" href="#access" aria-expanded="false"> Accessories </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bs-example bs-example-tabs mar-bot-10" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

             <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>

             
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kidss" aria-labelledby="kidss-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-26.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-25.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-24.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-23.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="access" aria-labelledby="access-tab">
               <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="hidden-sm">
          <div class="col-md-8 col-sm-8">
            <div class="row"> <img style="max-height:324px;" class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,g_north_east,h_1080,q_100,w_1920/v1445350249/Why-Is-Spring-Cleaning-so-Important_shaekq.png"></div>
          </div>
          <div class="col-md-4 col-sm-4 spring">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="row">
                  <ul class="list-unstyled man-li">
                    <li class="mar-0"><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1445342199/t-fal-c784sc64-premium-stainless-steel-12-piece-cookware-set_1_bdi2dg.jpg"></li>
                    <li class="mar-0"><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_161,q_100,w_280/v1445342818/DSC_8256_Parippuvada_Bento_Box_2_m5ywuk.jpg"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">NEW</span> arrivals</p>
              <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Home<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent-2" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home-2" aria-labelledby="home-tabb">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile-2" aria-labelledby="profile-tab">
              
             <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kids-2" aria-labelledby="kids-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
            </div>
            <div role="tabpanel" class="tab-pane fade" id="acc-2" aria-labelledby="acc-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


<div class="your-class">

  <div> 
    <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446242490/inWholsalers/in-whole-sale-slider-3.png" alt="" class="img-responsive"> <!-- random image -->   
  </div>
  <div>
    <img src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1446242490/inWholsalers/in-whole-sale-slider-3.png" alt="" class="img-responsive"><!-- random image -->
        
  </div>
  <div>
   <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->  
  </div>
  <div>
   <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->  
  </div>
  <div>
   <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->  
  </div>
  <div>
   <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->  
  </div>
</div>
      


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../assets/js/jquery-v11.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 

<script src="../assets/js/custom.js"></script>
<!-- <script src="../assets/js/owl.carousel.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>  -->
<script>

cdtd();</script><!--animations--> 
<script src="../assets/js/wow.min.js"></script> 

<script>
 new WOW().init();
</script>


