<!DOCTYPE html>


<div class="container mega-main clearfix">
  <div class="row">
    <div class="col-md-7 col-md-push-3 col-sm-push-0 col-sm-12 col-xs-12">


      <div class="row tabs-sec main-body-mar hidden-xs">
          <div class="col-sm-12 col-xs-12">
            <div class="feature clearfix">

              <p class="font-16 slider-text-md col-sm-12 deals visible-lg "><span>All the top <span class="pink font-bold">internet wholesalers </span>in one place.</span>&nbsp;&nbsp;<span class="pull-right text-italic">N<span class="text-lowercase">ew products added daily!</span></span></p>

               <p class="font-14 slider-text-md col-sm-12 deals hidden-lg "><span>All the top <span class="pink font-bold">internet wholesalers </span>in one place.</span>&nbsp;&nbsp;<span class="pull-right text-italic">N<span class="text-lowercase">ew products added daily!</span></span></p>


            </div>
          </div>
        </div>


        <!-- cellphone view  slider header views below in p tag -->
        <p class="font-14 text-uppercase text-center deals hidden-lg hidden-md hidden-sm">

          <span class="font-bold">All of your favorite products</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase pink"> free!</span></span></span>
          
        </p>
        <div class="home-slider visible-sm visible-xs">
          <div>
           <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446738711/Slider_Counter_Display2_qcy8dr.png" alt="" class="img-responsive"> <!-- random image -->  
          </div>

          <div> 
            <img src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->   
          </div>
          <div>
            <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446232153/inWholsalers/in-wholesale-slider-1-4.png" alt="" class="img-responsive"><!-- random image -->
                
          </div>
          <div>
           <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446242490/inWholsalers/in-whole-sale-slider-3.png" alt="" class="img-responsive"> <!-- random image -->  
          </div>
        </div>


        <div class="home-slider hidden-sm hidden-xs">
         <div>
           <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446738711/Slider_Counter_Display2_qcy8dr.png" alt="" class="img-responsive"> <!-- random image -->  
          </div>
          <div> 
            <img src="https://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> <!-- random image -->   
          </div>
          <div>
            <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446232153/inWholsalers/in-wholesale-slider-1-4.png" alt="" class="img-responsive"><!-- random image -->
                
          </div>
          <div>
           <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446242490/inWholsalers/in-whole-sale-slider-3.png" alt="" class="img-responsive"> <!-- random image -->  
          </div>
        </div>






      <div data-example-id="simple-carousel" class="hidden-sm hidden-xs">
       <p class="font-13 slider-text-md text-uppercase deals mar-bot-0"><span class="font-bold">amazing discounts and great margins storewide</span>&nbsp;<a class="pull-right pink">S<span class="text-lowercase">hop by brand and license</span></a></p>
        

        
      </div>



         <p class="font-14 text-uppercase deals text-center hidden-md hidden-lg"><span class="font-bold">amazing discounts storewide</span>
         <br>
            <a class="text-center pink">S<span class="text-lowercase">hop by brand and license</span></a></p>

         </p>


            <div class="brand-slider">
              <div> 
                <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446724713/lic_final_slide_5_4_copy_l2vnwh.png" alt="" class="img-responsive"> <!-- random image -->   
              </div>
              <div>
                <img src="https://res.cloudinary.com/mckshreder/image/upload/c_crop,g_center,h_120,q_100,w_880/v1446723682/lic_final_slide_6_2_urhlys.png" alt="" class="img-responsive" alt="" class="img-responsive"><!-- random image -->
                    
              </div>
              <div>
               <img src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1446727646/lic_final_slide_7_2_wcpwye.png" alt="" class="img-responsive"> <!-- random image -->  
              </div>
            </div>


    </div>
      <div class=" col-md-3 col-sm-4 col-pull-md-7 col-sm-pull-7 hidden-sm hidden-xs ">
        <%= render "partials/side_nav_index"%>
      </div>


      <div class="col-md-2 col-lg-2 pull-right col-sm-12 col-xs-12  main-body-mar ">
          <div class="row tabs-sec">
              <div class="col-sm-12 col-xs-12">
                <div class="feature clearfix pad-left-0">


                 <!--  <p class="font-15 slider-text-md col-sm-12 deals text-center"><span class="pink text-uppercase font-bold">HOT<span class="text-lowercase"> products</span></span></p> -->

          <div class="hidden-sm hidden-xs">        
                <p class="font-15 text-uppercase deals text-center"><span class="font-bold">HOT</span> products</p>
           
          </div>


          <div class="hidden-lg hidden-md">
           
                <p class="font-18 text-uppercase deals"><span class="font-bold">HOT</span> products</p>

          </div>


                </div>
              </div>
            </div>

    <!-- THIS IS THE HOT DEALS SLIDER -->
           

                    <div class="pro-item feature col-xs-12 pad-top-10 pad-bot-10"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                      <p class="font-13">Solo Bag In Natural</p>
                      <p class="font-12 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                      <div class="clearfix"> <a href="#" class="cart font-12">add to cart</a> </div>
                    </div>
                    <div class="pro-item feature col-xs-12 pad-top-10 pad-bot-10"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                      <p class="font-13">Solo Bag In Natural</p>
                      <p class="font-12 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                      <div class="clearfix"> <a href="#" class="cart font-12">add to cart</a> </div>
                    </div>

          
        </div>



  </div>



</div>


<div class="container hidden-md hidden-lg hidden-sm hidden-xs">
<div class="clearfix"></div>
  <div class="row home-1" style="">
    <div class="col-md-6 "> <img style="height:332px;" class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_1080,q_100,w_1920/v1446029065/inWholsalers/article.jpg"></div>
    <div class="col-md-3 ">
      <div class="row">
        <ul class="list-unstyled man-li pad-0">
          <li><img class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1446027342/inWholsalers/Trusted_Everywhere_Logo_with_Battery_Hi-res_0.jpg"></li>
          <li><img class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1446027342/inWholsalers/Trusted_Everywhere_Logo_with_Battery_Hi-res_0.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 last-item">
      <div class="row"> <img class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_344,q_100,w_280/v1446026205/inWholsalers/pedigree_1396684132.jpg"></div>
    </div>
  </div>
  </div>


<div class="clearfix"></div>


      

<div class="container">
  <div class="timer-sec">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <!-- <ul class="list-unstyled images-3 hidden-sm hidden-xs">
          <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li>
          <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
        </ul> -->
          <div class="row">
            <div class="hidden-sm col-xs-12">
              <div class="feature">
                <p class="font-18 text-uppercase deals"><span class="font-bold">Super</span> deals</p>
              </div>
            </div>
          </div>
          <div class="pro-item hidden-sm">
           <!--  <div class="counter-timer">
              <ul class="list-unstyled">
                <li>
                  <div id="daysBox" class="font-bold font-16">15</div>
                  Days </li>
                <li>
                  <div id="hoursBox" class="font-bold font-16">8</div>
                  Hours </li>
                <li>
                  <div id="minsBox" class="font-bold font-16">0</div>
                  Minutes </li>
                <li>
                  <div id="secsBox" class="font-bold font-16">35</div>
                  Seconds </li>
              </ul>
            </div> -->
            <div class=""> <img src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/98458_M.jpg" alt="" class="img-responsive" ><br>
              <br>
              <p class="font-15">Solo Bag In Natural</p>
              <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="feature">
                    <p class="font-18 text-uppercase deals"><span class="font-bold">Recent</span> news</p>
                  </div>
                </div>
              </div>
              <div class="pro-item post">
                <div class="">
                  <p class="text-uppercase font-bold">The Article #1</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                  <br>
                  <div class="line"></div>
                  <p class="text-uppercase font-bold">The Article #2</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                  <br>
                  <div class="line"></div>
                  <p class="text-uppercase font-bold">The Article #3</p>
                  <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row hidden-sm hidden-xs">
            <br>
            <div class="col-md-12 last-item">
              <img class="img-responsive" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_335,q_100,w_280/v1445348839/517218NggML_bl9kz7.jpg">
            </div>
            <div class="col-md-12 last-item">
              <br>
              <img class="img-responsive" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/q_100/v1445573939/inWholsalers/Wilson-Baseball-Dept-Pic.jpg"></div>
          </div>

      </div>
      


      <div class="col-md-9 col-sm-12">

<!-- 
       <div class="row">
         <div class="col-md-5 col-sm-12">
           
            <ul class="list-unstyled">
              <li><p class="font-10 text-uppercase deals pad-top-0"><span class="font-bold">get the most out of inWholesalers.</span>&nbsp;<br><span class="text-lowercase">be the first to know about new arrivals,</span>&nbsp;<a class="pull-left pink"><span class="text-lowercase">exclusive offers and promotions,</span></a></p></li>


            </ul>
            <br>
            
          </div>
          <div class="col-md-7 col-sm-12">
            
            
            <div class="input-group search">
              <input type="text" placeholder="Sign up now via email" class="form-control pink">
              <span class="input-group-btn">
              <button type="button" class="btn btn-default pink">Sign up!</button>
              </span> </div>
          </div>
            

        </div> -->
          

        <div class="row">
          <div class="col-xs-12">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">TOP</span> sellers</p>
              <ul role="tablist" class="tab-links pull-right list-inline" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Home<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile" aria-expanded="false">Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="kidss" data-toggle="tab" id="kidss-tab" role="tab" href="#kidss" aria-expanded="false"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="access" data-toggle="tab" id="access-tab" role="tab" href="#access" aria-expanded="false"> Accessories </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bs-example bs-example-tabs mar-bot-10" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

             <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>

             
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kidss" aria-labelledby="kidss-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-26.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-25.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-24.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-23.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="access" aria-labelledby="access-tab">
               <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="hidden-sm">
          <div class="col-md-8 col-sm-8">
            <div class="row"> <img style="max-height:324px;" class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,g_north_east,h_1080,q_100,w_1920/v1445350249/Why-Is-Spring-Cleaning-so-Important_shaekq.png"></div>
          </div>
          <div class="col-md-4 col-sm-4 spring">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="row">
                  <ul class="list-unstyled man-li">
                    <li class="mar-0"><img class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1445342199/t-fal-c784sc64-premium-stainless-steel-12-piece-cookware-set_1_bdi2dg.jpg"></li>
                    <li class="mar-0"><img class="img-responsive hvr-float" alt="" src="https://res.cloudinary.com/mckshreder/image/upload/c_fill,h_161,q_100,w_280/v1445342818/DSC_8256_Parippuvada_Bento_Box_2_m5ywuk.jpg"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">NEW</span> arrivals</p>
              <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Home<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent-2" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home-2" aria-labelledby="home-tabb">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile-2" aria-labelledby="profile-tab">
              
             <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kids-2" aria-labelledby="kids-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
            </div>
            <div role="tabpanel" class="tab-pane fade" id="acc-2" aria-labelledby="acc-tab">
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6 pro-item"> <img class="img-responsive" alt="" src="https://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../assets/js/jquery-v11.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 

<script src="../assets/js/custom.js"></script>
<!-- <script src="../assets/js/owl.carousel.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>  -->
<script>

cdtd();</script><!--animations--> 
<script src="../assets/js/wow.min.js"></script> 

<script>
 new WOW().init();
</script>




